In [1]:
import pandas as pd
import seaborn as sns

# Loading the datasets

In [2]:
wines_df = pd.read_csv("XWines_Full_21M_ratings.csv") 
display(wines_df.head(5))

rating_df=pd.read_csv("XWines_Full_100K_wines.csv") 
display(rating_df.head(5))

C:\Users\Lorenzo\AppData\Local\Temp\ipykernel_18144\3698253235.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  wines_df = pd.read_csv("XWines_Full_21M_ratings.csv")

   RatingID   UserID  WineID Vintage  Rating                 Date
0         1  1604441  136103    1950     4.0  2019-10-14 11:20:52
1         2  1291483  136103    1950     5.0  2019-11-28 03:36:33
2         3  1070605  104036    1950     5.0  2017-12-28 10:15:55
3         4  1080181  144864    1950     5.0  2016-06-23 02:16:22
4         5  1834379  111430    1950     5.0  2021-05-16 17:58:14

,WineID,WineName,Type,Elaborate,Grapes,Harmonize,ABV,Body,Acidity,Code,Country,RegionID,RegionName,WineryID,WineryName,Website,Vintages
0,100001,Espumante Moscatel,Sparkling,Varietal/100%,['Muscat/Moscato'],"['Pork', 'Rich Fish', 'Shellfish']",7.5,Medium-bodied,High,BR,Brazil,1001,Serra Gaúcha,10001,Casa Perini,http://www.vinicolaperini.com.br,"[2020, 2019, 2018, 2017, 2016, 2015, 2014, 201..."
1,100002,Ancellotta,Red,Varietal/100%,['Ancellotta'],"['Beef', 'Barbecue', 'Codfish', 'Pasta', 'Pizz...",12.0,Medium-bodied,Medium,BR,Brazil,1001,Serra Gaúcha,10001,Casa Perini,http://www.vinicolaperini.com.br,"[2016, 2015, 2014, 2013, 2012, 2011, 2010, 200..."
2,100003,Cabernet Sauvignon,Red,Varietal/100%,['Cabernet Sauvignon'],"['Beef', 'Lamb', 'Poultry']",12.0,Full-bodied,High,BR,Brazil,1001,Serra Gaúcha,10002,Castellamare,https://www.emporiocastellamare.com.br,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201..."
3,100004,Virtus Moscato,White,Varietal/100%,['Muscat/Moscato'],['Sweet Dessert'],12.0,Medium-bodied,Medium,BR,Brazil,1001,Serra Gaúcha,10003,Monte Paschoal,http://www.montepaschoal.com.br,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201..."
4,100005,Maison de Ville Cabernet-Merlot,Red,Assemblage/Bordeaux Red Blend,"['Cabernet Sauvignon', 'Merlot']","['Beef', 'Lamb', 'Game Meat', 'Poultry']",11.0,Full-bodied,Medium,BR,Brazil,1001,Serra Gaúcha,10000,Aurora,http://www.vinicolaaurora.com.br,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201..."

In [4]:
display(wines_df[wines_df['UserID'] == 1291483]).head(3)

          RatingID   UserID  WineID Vintage  Rating                 Date
1                2  1291483  136103    1950     5.0  2019-11-28 03:36:33
4268708    4268709  1291483  167537    2011     1.0  2020-11-20 01:02:14
11269848  11269849  1291483  167428    2015     4.0  2019-11-03 01:12:49
12899046  12899047  1291483  167573    2016     4.0  2019-09-15 22:27:00
12925348  12925349  1291483  167418    2016     4.0  2019-08-15 01:13:20
14635529  14635530  1291483  167463    2017     4.5  2019-08-24 00:01:20
15056211  15056212  1291483  167433    2017     4.5  2020-04-18 00:50:22

AttributeError: 'NoneType' object has no attribute 'head'

# Merge the two dataset with wineId as the inner joint.

In [5]:
joined_df = wines_df.join(rating_df.set_index('WineID'), on='WineID', how='inner')
display(joined_df.head(1))

,RatingID,UserID,WineID,Vintage,Rating,Date,WineName,Type,Elaborate,Grapes,...,Body,Acidity,Code,Country,RegionID,RegionName,WineryID,WineryName,Website,Vintages
0,1,1604441,136103,1950,4.0,2019-10-14 11:20:52,Lambrusco Emilia,Red,Varietal/100%,['Lambrusco'],...,Full-bodied,High,IT,Italy,1581,Emilia,42951,Riunite,http://www.riunite.com,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201..."

For Grup racomander :
Aproval voting,
Multiplicative,
Feirness,
LeastMeasery,
MostPLeasure
and the other

Assume now we have a dataset which includes the  "user_id", " wine_id" and "rating", named data

In [7]:
data={
    'user_id': [1604441, 1604441, 1604441, 1291483, 1291483,1291483,1070605,1070605,1070605],
    'wine_id': [136103, 117146, 155378, 136103, 117146, 167573, 136103, 155378, 167573],
    'rating': [5, 4, 3, 4, 5, 4, 5, 3, 5]
}

In [8]:
df=pd.DataFrame(data)

def approvalVoting(df):
    # Approval Voting
    theta=2.5
    larger_df=df[df['rating']>=theta]
    counts=larger_df['wine_id'].value_counts()
    # transform into DataFrame
    vote_counts=counts.reset_index()
    vote_counts.columns=['wine_id','vote_count_in_total']
    majority_based_recommendation=vote_counts.sort_values(by='vote_count_in_total',ascending=False)
    return majority_based_recommendation

In [10]:
# Multiplicative

def multiply_rating(ratings):
    score=1
    for rating in ratings:
        score=score*rating
    return score

def multiplicative(df):
    grouped= df.groupby('wine_id')['rating']
    final_score=grouped.apply(multiply_rating)
    # transform into DataFrame
    multiply_score=final_score.reset_index()
    multiply_score.columns=['wine_id','final_score']
    multiply_recommendation=multiply_score.sort_values(by='final_score',ascending=False)  
    return muliply_recommendation

In [11]:
# Least Misery
def leastMesery(df):
    minimal_rating=df.groupby('wine_id')['rating'].min()
    minimal_rating_df=minimal_rating.reset_index()
    minimal_rating_df.columns=['wine_id','minimal_rating']
    least_misery_recommendation=minimal_rating_df.sort_values(by='minimal_rating',ascending=False)
    return least_misery_recommendation

In [12]:
# Most Pleasure
def mostPleasure(df):
    max_rating=df.groupby('wine_id')['rating'].max()
    max_rating_df=max_rating.reset_index()
    max_rating_df.columns=['wine_id','maximum_rating']
    most_pleasure_recommendation=max_rating_df.sort_values(by='maximum_rating',ascending=False)
    return most_pleasure_recommendation