In [1]:
import pandas as pd
import seaborn as sns

# Loading the datasets

In [2]:
wines_df = pd.read_csv("XWines_Full_21M_ratings.csv") 
display(wines_df.head(1))

rating_df=pd.read_csv("XWines_Full_100K_wines.csv") 
display(rating_df.head(1))

C:\Users\Lorenzo\AppData\Local\Temp\ipykernel_24692\52478845.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  wines_df = pd.read_csv("XWines_Full_21M_ratings.csv")

   RatingID   UserID  WineID Vintage  Rating                 Date
0         1  1604441  136103    1950     4.0  2019-10-14 11:20:52

,WineID,WineName,Type,Elaborate,Grapes,Harmonize,ABV,Body,Acidity,Code,Country,RegionID,RegionName,WineryID,WineryName,Website,Vintages
0,100001,Espumante Moscatel,Sparkling,Varietal/100%,['Muscat/Moscato'],"['Pork', 'Rich Fish', 'Shellfish']",7.5,Medium-bodied,High,BR,Brazil,1001,Serra Gaúcha,10001,Casa Perini,http://www.vinicolaperini.com.br,"[2020, 2019, 2018, 2017, 2016, 2015, 2014, 201..."

# Merge the two dataset with wineId as the inner joint.

In [22]:
joined_df = wines_df.join(rating_df.set_index('WineID'), on='WineID', how='inner')
display(joined_df.head(1))

,RatingID,UserID,WineID,Vintage,Rating,Date,WineName,Type,Elaborate,Grapes,...,Body,Acidity,Code,Country,RegionID,RegionName,WineryID,WineryName,Website,Vintages
0,1,1604441,136103,1950,4.0,2019-10-14 11:20:52,Lambrusco Emilia,Red,Varietal/100%,['Lambrusco'],...,Full-bodied,High,IT,Italy,1581,Emilia,42951,Riunite,http://www.riunite.com,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201..."

For Grup racomander :
Aproval voting,
Multiplicative,
Feirness,
LeastMeasery,
MostPLeasure
and the other